/* 1. 모든 <p> 태그의 텍스트 색상을 파란색으로 변경하세요.(요소 선택자) */
p {
  color: blue;
}

/* 2. **클래스 선택자**
    - `.highlight` 클래스를 가진 요소의 배경색을 노란색으로 변경하세요.*/
.highlight {
  background-color: yellow;
}

/*    3. **아이디 선택자**
    - `#unique-item` 아이디를 가진 요소의 폰트 크기를 20px로 변경하세요.*/
#unique-item {
  font-size: 20px;
}

/*4. **인접 형제 선택자**
    - `<h2>` 뒤에 나오는 첫 번째 `<p>` 태그의 텍스트 색상을 빨간색으로 변경하세요.*/
h2 + p {
  color: red;
}
/*5. **일반 형제 선택자**
    - 클래스 `description` 이후에 나오는 모든 `<section>` 태그의 배경색을 연한 회색(#f0f0f0)으로 변경하세요.*/
.description ~ section {
  background-color: #f0f0f0;
}
/*6. **자식 선택자**
    - `<ul>`의 직계 자식 `<li>` 요소의 텍스트를 굵게(Bold) 표시하세요.*/
ul > li {
  font-weight: bold;
}
/*7. **속성 선택자**
    - `title` 속성을 가진 요소의 텍스트 색상을 초록색으로 변경하세요. */
h1[title] {
  color: green;
}
